### Print Statements

In [7]:
print("Hello")
print("I'd food")
print('I had "food"')
print("Hey %s there." % "AI")

#comment statements
'''multiple 
comments'''

 
print("""
There's something going on here.
With the three double- quotes.
We'll be able to type as much as we like.
Even """)

Hello
I'd food
I had "food"
Hey AI there.

There's something going on here.
With the three double- quotes.
We'll be able to type as much as we like.
Even

### Simple Function

In [9]:
def double(num):
    """Function to double the value"""
    return 2*num
print(double.__doc__)
print(double(2))

Function to double the value
4

### Expressions

In [12]:
#numbers and math
print(3 +1)
print("sum of 3+2 is ",3+2)
print("Is it greater or equal?", 5 >= - 1)

4
sum of 3+2 is  5
Is it greater or equal? True

### Variables

In [23]:
my_eyes = 'Blue'
my_teeth = 'White'
print("He's got %s eyes and %s teeth. and have %r hands " % (my_eyes, my_teeth,2))
print(type(my_eyes))

a, b, c = 5, 3.2, "Hello"
print(a,b,c)
x = y = z = "same"
print(x,y,z)

He's got Blue eyes and White teeth. and have 2 hands
<class 'str'>
5 3.2 Hello
same same same

### import statement

In [24]:
import datetime
d = datetime.date.today()
str(d)
repr(d)
#The %r is best for debugging, and the other formats are for actually displaying variables to users

'datetime.date(2019, 9, 29)'

### String Data type and Operations

- Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

In [33]:
# Access - y
# Search - y
# Update - n
# Insert - n
# Append - y
# delete - n
 
 
a="string"
 
a.join("123")

'1string2string3'

In [36]:
my_string = 'programiz'
#my_string[5] = 'a'
#del my_string[1]

In [37]:
str = 'programiz'
print('str = ', str)
 
#first character
print('str[0] = ', str[0])
 
#last character
print('str[-1] = ', str[-1])
 
#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])
 
#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

In [39]:
str1 = 'Hello'
str2 ='World!'
print (str1.center(40), "\n") 

# using +
print('str1 + str2 = ', str1 + str2)
 
# using *
print('str1 * 3 =', str1 * 3)

                 Hello

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [47]:
a=[4,3,1,5]
print(sorted(a))
print(a)
print(a.sort())
print(a)

[1, 3, 4, 5]
[4, 3, 1, 5]
None
[1, 3, 4, 5]

In [48]:
print('a' in 'program')
print('at' not in 'battle')

True
False

In [54]:

# default(implicit) order
default_order = "{}, {} and {}".format('Alex','Google','Siri')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Alex, Google and Siri

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [66]:
print("PrOgRaMiZ".lower())
print(' '.join(['This', 'will', 'join', 'all', 'words']))
print("Happy New Year".replace('Happy','Brilliant'))

programiz
This will join all words
Brilliant New Year

In [76]:
##data type conversion / casting
print(int(2.3), float(4))

2 4.0

### Lists

- ordered
- mutable

In [82]:
a = [1,2,3]
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

### Tuples

- ordered
- immutable

In [81]:
t = (5,'program', 1+3j)
print(t)
print(type(t))

(5, 'program', (1+3j))
<class 'tuple'>

### Sets
- Set is an unordered collection of unique items
- Since, set are unordered collection, indexing has no meaning. Hence the slicing operator [] does not work.

In [86]:
a = {1,2,2,3,3,3}
print(a)

a = {3,3,2,6,5}
print(a)

{1, 2, 3}
{2, 3, 5, 6}

### Dictionary
- Dictionary is an unordered collection of key-value pairs.

In [91]:
d = {1:'value','key':2}
print(type(d))
 
print("d[1] = ", d[1]);
 
print("d['key'] = ", d['key']);

# Generates error
#print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [94]:
#We can even convert one sequence to another

print(list('hello'))

print(tuple({5,6,7}))

#To convert to dictionary, each element must be a pair
print(dict([[1,2],[3,4]]))

['h', 'e', 'l', 'l', 'o']
(5, 6, 7)
{1: 2, 3: 4}